In [1]:
import pandas as pd
import numpy as np

In [2]:
table = "NTH Soil data 2005_PF.xlsx"

In [3]:
#run this across each sheet of the file
table_df = pd.read_excel(table, sheet_name = 7)
table_df

,Sample ID,TP-56,Unnamed: 2,Unnamed: 3,TP-57,Unnamed: 5,Unnamed: 6,TP-58,Unnamed: 8,Unnamed: 9,TP-59,Unnamed: 11,Unnamed: 12,TP-60,Unnamed: 14,Unnamed: 15
0,Sample Depth (ft bgs),1.5-3,NaN,NaN,3-7,NaN,NaN,6-6.5,NaN,NaN,2.5-11,NaN,NaN,0-4.5,NaN,NaN
1,Collection Date,2005-09-24 00:00:00,NaN,NaN,2005-09-24 00:00:00,NaN,NaN,2005-09-23 00:00:00,NaN,NaN,2005-09-24 00:00:00,NaN,NaN,2005-09-24 00:00:00,NaN,NaN
2,VOC Analysis Date,2005-10-02 00:00:00,NaN,NaN,2005-09-30 00:00:00,NaN,NaN,2005-10-02 00:00:00,NaN,NaN,2005-10-02 00:00:00,NaN,NaN,2005-10-01 00:00:00,NaN,NaN
3,VOC Extraction Date,2005-09-24 00:00:00,NaN,NaN,2005-09-24 00:00:00,NaN,NaN,2005-09-24 00:00:00,NaN,NaN,2005-09-24 00:00:00,NaN,NaN,2005-09-24 00:00:00,NaN,NaN
4,VOC Analytical Method,SW846 8260B,NaN,NaN,SW846 8260B,NaN,NaN,SW846 8260B,NaN,NaN,SW846 8260B,NaN,NaN,SW846 8260B,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82,NT = not tested,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
83,PCB = polychlorinated biphenyl,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84,TP = test pit,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
85,µg/kg = microgram per kilogram,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
86,VOC = volatile organic compound,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
#replace - with NA for dropping purposes
table_df = table_df.replace('─',np.nan)

#fix the unnamed columns

for i in list(range(1,len(table_df.columns),3)):
    
    #rename columns
    newCol1 = str(table_df.columns.tolist()[i])
    newCol2 = str(table_df.columns.tolist()[i])
    table_df.iat[0,i+1]  = table_df.iat[0,i]
    table_df.iat[0,i+2]  = table_df.iat[0,i]
    table_df.iat[1,i+1]  = table_df.iat[1,i]
    table_df.iat[1,i+2]  = table_df.iat[1,i]
    table_df.iat[2,i+1]  = table_df.iat[2,i]
    table_df.iat[2,i+2]  = table_df.iat[2,i]
    table_df.iat[3,i+1]  = table_df.iat[3,i]
    table_df.iat[3,i+2]  = table_df.iat[3,i]
    table_df = table_df.rename(columns = {table_df.columns.to_list()[i+1]:newCol1})
    table_df = table_df.rename(columns = {table_df.columns.to_list()[i+2]:newCol2})
   # print(i)
table_df

,Sample ID,TP-56,TP-56,TP-56,TP-57,TP-57,TP-57,TP-58,TP-58,TP-58,TP-59,TP-59,TP-59,TP-60,TP-60,TP-60
0,Sample Depth (ft bgs),1.5-3,1.5-3,1.5-3,3-7,3-7,3-7,6-6.5,6-6.5,6-6.5,2.5-11,2.5-11,2.5-11,0-4.5,0-4.5,0-4.5
1,Collection Date,2005-09-24 00:00:00,2005-09-24 00:00:00,2005-09-24 00:00:00,2005-09-24 00:00:00,2005-09-24 00:00:00,2005-09-24 00:00:00,2005-09-23 00:00:00,2005-09-23 00:00:00,2005-09-23 00:00:00,2005-09-24 00:00:00,2005-09-24 00:00:00,2005-09-24 00:00:00,2005-09-24 00:00:00,2005-09-24 00:00:00,2005-09-24 00:00:00
2,VOC Analysis Date,2005-10-02 00:00:00,2005-10-02 00:00:00,2005-10-02 00:00:00,2005-09-30 00:00:00,2005-09-30 00:00:00,2005-09-30 00:00:00,2005-10-02 00:00:00,2005-10-02 00:00:00,2005-10-02 00:00:00,2005-10-02 00:00:00,2005-10-02 00:00:00,2005-10-02 00:00:00,2005-10-01 00:00:00,2005-10-01 00:00:00,2005-10-01 00:00:00
3,VOC Extraction Date,2005-09-24 00:00:00,2005-09-24 00:00:00,2005-09-24 00:00:00,2005-09-24 00:00:00,2005-09-24 00:00:00,2005-09-24 00:00:00,2005-09-24 00:00:00,2005-09-24 00:00:00,2005-09-24 00:00:00,2005-09-24 00:00:00,2005-09-24 00:00:00,2005-09-24 00:00:00,2005-09-24 00:00:00,2005-09-24 00:00:00,2005-09-24 00:00:00
4,VOC Analytical Method,SW846 8260B,NaN,NaN,SW846 8260B,NaN,NaN,SW846 8260B,NaN,NaN,SW846 8260B,NaN,NaN,SW846 8260B,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82,NT = not tested,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
83,PCB = polychlorinated biphenyl,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84,TP = test pit,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
85,µg/kg = microgram per kilogram,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
86,VOC = volatile organic compound,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
#isolate VOC data
voc_df = table_df.iloc[:24]

##################################################
#transpose it
voc_df = voc_df.transpose()
#make the first row our column titles
voc_df.columns=voc_df.iloc[0]
#drop the duplicate row
voc_df = voc_df.tail(-1)
#drop samples with no detections
voc_df = voc_df.dropna(thresh=4)
##################################################

voc_df.index.name = None

# ###########################################

# #drop VOC details for mergining
voc_df = voc_df.drop('VOC Analysis Date',axis=1)
voc_df = voc_df.drop('VOC Analytical Method',axis=1)
voc_df = voc_df.drop('VOC Extraction Date',axis=1)
voc_df = voc_df.drop('VOCs',axis=1) # bring back for explanation if necessary

#pull sample id out of index
voc_df['Sample ID'] = voc_df.index

#shift column sample ID to first position
first_column = voc_df.pop('Sample ID')
#insert column using insert(position,column_name,first_column) function
voc_df.insert(0, 'Sample ID', first_column)




#drop duplicates and keep the first appearance because those are the detections / tests
voc_df = voc_df.drop_duplicates(subset=['Sample ID'],keep="first")

#split sample depth range into two separate columns
voc_df[['Start_Depth','End_Depth']] = voc_df.get('Sample Depth (ft bgs)').str.split("-",expand=True)

#shift depths to front of df 
first_column = voc_df.pop('Start_Depth')
second_column = voc_df.pop('End_Depth')
  
# insert column using insert(position,column_name,
# first_column) function
voc_df.insert(1, 'Start_Depth', first_column)
voc_df.insert(2, 'End_Depth', second_column)

#drop sample ID and depth range
voc_df = voc_df.drop(['Sample ID'], axis=1)
voc_df = voc_df.drop(['Sample Depth (ft bgs)'], axis=1)

#rename voc columns
voc_df = voc_df.rename(columns = {'Collection Date':'Sample_Date'})

voc_df
#change format of date to eliminate the time?

Sample ID,Start_Depth,End_Depth,Sample_Date,Benzene,N-Butylbenzene,Sec-Butylbenzene,Tert-Butylbenzene,Carbon Disulfide,Chlorobenzene,"1,1-Dichloroethane",...,Ethylbenzene,Isopropylbenzene,Naphthalene,n-Propylbenzene,Tetrachloroethylene,Toluene,Trichloroethene,"1,2,4-Trimethylbenzene","1,3,5-Trimethylbenzene",Xylene
TP-56,1.5,3,2005-09-24 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
TP-57,3,7,2005-09-24 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
TP-58,6,6.5,2005-09-23 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
TP-59,2.5,11,2005-09-24 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
TP-60,0,4.5,2005-09-24 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
#adjust voc_df for leapfrog input
#reformatting the original combined df
lf_voc = voc_df.replace(np.nan,0)

#vocs

lf_voc['Benzene '] = np.where((lf_voc['Benzene '] == 50) |(lf_voc['Benzene '] == 0) , '50 U' , lf_voc['Benzene '] )
lf_voc['Benzene LF'] = np.where(lf_voc['Benzene '] == '50 U' , 5 , lf_voc['Benzene '] )

lf_voc['N-Butylbenzene'] = np.where((lf_voc['N-Butylbenzene'] == 50) |(lf_voc['N-Butylbenzene'] == 0) , '50 U' , lf_voc['N-Butylbenzene'] )
lf_voc['N-Butylbenzene LF'] = np.where(lf_voc['N-Butylbenzene'] == '50 U' , 5 , lf_voc['N-Butylbenzene'] )

#not in this dataset
# lf_voc['sec-Butylbenzene'] = np.where((lf_voc['sec-Butylbenzene'] == 50) |(lf_voc['sec-Butylbenzene'] == 0) , '50 U' , lf_voc['sec-Butylbenzene'] )
# lf_voc['sec-Butylbenzene LF'] = np.where(lf_voc['sec-Butylbenzene'] == '50 U' , 5 , lf_voc['sec-Butylbenzene'] )

#not in this dataset
# lf_voc['Tert-Butylbenzene'] = np.where((lf_voc['tert-Butylbenzene'] == 50) |(lf_voc['tert-Butylbenzene'] == 0) , '50 U' , lf_voc['tert-Butylbenzene'] )
# lf_voc['Tert-Butylbenzene LF'] = np.where(lf_voc['tert-Butylbenzene'] == '50 U' , 5 , lf_voc['tert-Butylbenzene'] )

lf_voc['Carbon Disulfide'] = np.where((lf_voc['Carbon Disulfide'] == 250) |(lf_voc['Carbon Disulfide'] == 0) , '250 U' , lf_voc['Carbon Disulfide'] )
lf_voc['Carbon Disulfide LF'] = np.where(lf_voc['Carbon Disulfide'] == '250 U' , 25 , lf_voc['Carbon Disulfide'] )

lf_voc['Chlorobenzene'] = np.where((lf_voc['Chlorobenzene'] == 50) |(lf_voc['Chlorobenzene'] == 0) , '50 U' , lf_voc['Chlorobenzene'] )
lf_voc['Chlorobenzene LF'] = np.where(lf_voc['Chlorobenzene'] == '50 U' , 5 , lf_voc['Chlorobenzene'] )

lf_voc['1,1-Dichloroethane'] = np.where((lf_voc['1,1-Dichloroethane'] == 50) |(lf_voc['1,1-Dichloroethane'] == 0) , '50 U' , lf_voc['1,1-Dichloroethane'] )
lf_voc['1,1-Dichloroethane LF'] = np.where(lf_voc['1,1-Dichloroethane'] == '50 U' , 5 , lf_voc['1,1-Dichloroethane'] )

lf_voc['cis-1,2-Dichloroethene'] = np.where((lf_voc['cis-1,2-Dichloroethene'] == 50) |(lf_voc['cis-1,2-Dichloroethene'] == 0) , '50 U' , lf_voc['cis-1,2-Dichloroethene'] )
lf_voc['cis-1,2-Dichloroethene LF'] = np.where(lf_voc['cis-1,2-Dichloroethene'] == '50 U' , 5 , lf_voc['cis-1,2-Dichloroethene'] )

lf_voc['Ethylbenzene'] = np.where((lf_voc['Ethylbenzene'] == 50) |(lf_voc['Ethylbenzene'] == 0) , '50 U' , lf_voc['Ethylbenzene'] )
lf_voc['Ethylbenzene LF'] = np.where(lf_voc['Ethylbenzene'] == '50 U' , 5 , lf_voc['Ethylbenzene'] )

lf_voc['Isopropylbenzene'] = np.where((lf_voc['Isopropylbenzene'] == 250) | (lf_voc['Isopropylbenzene'] == 0) , '250 U' , lf_voc['Isopropylbenzene'] )
lf_voc['Isopropylbenzene LF'] = np.where(lf_voc['Isopropylbenzene'] == '250 U' , 25 , lf_voc['Isopropylbenzene'] )

lf_voc['Naphthalene'] = np.where((lf_voc['Naphthalene'] == 330) | (lf_voc['Naphthalene'] == 0) , '330 U' , lf_voc['Naphthalene'] )
lf_voc['Naphthalene LF'] = np.where(lf_voc['Naphthalene'] == '330 U' , 33 , lf_voc['Naphthalene'] )

lf_voc['n-Propylbenzene'] = np.where((lf_voc['n-Propylbenzene'] == 100) | (lf_voc['n-Propylbenzene'] == 0) , '100 U' , lf_voc['n-Propylbenzene'] )
lf_voc['n-Propylbenzene LF'] = np.where(lf_voc['n-Propylbenzene'] == '100 U' , 10 , lf_voc['n-Propylbenzene'] )

lf_voc['Tetrachloroethylene'] = np.where((lf_voc['Tetrachloroethylene'] == 50) | (lf_voc['Tetrachloroethylene'] == 0) , '50 U' , lf_voc['Tetrachloroethylene'] )
lf_voc['Tetrachloroethylene LF'] = np.where(lf_voc['Tetrachloroethylene'] == '50 U' , 5 , lf_voc['Tetrachloroethylene'] )

lf_voc['Toluene'] = np.where((lf_voc['Toluene'] == 100) | (lf_voc['Toluene'] == 0) , '100 U' , lf_voc['Toluene'] )
lf_voc['Toluene LF'] = np.where(lf_voc['Toluene'] == '100 U' , 10 , lf_voc['Toluene'] )

lf_voc['Trichloroethene'] = np.where((lf_voc['Trichloroethene'] == 50) | (lf_voc['Trichloroethene'] == 0) , '50 U' , lf_voc['Trichloroethene'] )
lf_voc['Trichloroethene LF'] = np.where(lf_voc['Trichloroethene'] == '50 U' , 5 , lf_voc['Trichloroethene'] )

lf_voc['1,2,4-Trimethylbenzene'] = np.where((lf_voc['1,2,4-Trimethylbenzene'] == 100) | (lf_voc['1,2,4-Trimethylbenzene'] == 0) , '100 U' , lf_voc['1,2,4-Trimethylbenzene'] )
lf_voc['1,2,4-Trimethylbenzene LF'] = np.where(lf_voc['1,2,4-Trimethylbenzene'] == '100 U' , 10 , lf_voc['1,2,4-Trimethylbenzene'] )

lf_voc['1,3,5-Trimethylbenzene'] = np.where((lf_voc['1,3,5-Trimethylbenzene'] == 100) | (lf_voc['1,3,5-Trimethylbenzene'] == 0) , '100 U' , lf_voc['1,3,5-Trimethylbenzene'] )
lf_voc['1,3,5-Trimethylbenzene LF'] = np.where(lf_voc['1,3,5-Trimethylbenzene'] == '100 U' , 10 , lf_voc['1,3,5-Trimethylbenzene'] )

lf_voc['Xylene'] = np.where((lf_voc['Xylene'] == 150) | (lf_voc['Xylene'] == 0) , '150 U' , lf_voc['Xylene'] )
lf_voc['Xylene LF'] = np.where(lf_voc['Xylene'] == '150 U' , 15 , lf_voc['Xylene'] )

lf_voc

Sample ID,Start_Depth,End_Depth,Sample_Date,Benzene,N-Butylbenzene,Sec-Butylbenzene,Tert-Butylbenzene,Carbon Disulfide,Chlorobenzene,"1,1-Dichloroethane",...,Ethylbenzene LF,Isopropylbenzene LF,Naphthalene LF,n-Propylbenzene LF,Tetrachloroethylene LF,Toluene LF,Trichloroethene LF,"1,2,4-Trimethylbenzene LF","1,3,5-Trimethylbenzene LF",Xylene LF
TP-56,1.5,3,2005-09-24,50 U,50 U,0,0,250 U,50 U,50 U,...,5,25,33,10,5,10,5,10,10,15
TP-57,3,7,2005-09-24,50 U,50 U,0,0,250 U,50 U,50 U,...,5,25,33,10,5,10,5,10,10,15
TP-58,6,6.5,2005-09-23,50 U,50 U,0,0,250 U,50 U,50 U,...,5,25,33,10,5,10,5,10,10,15
TP-59,2.5,11,2005-09-24,50 U,50 U,0,0,250 U,50 U,50 U,...,5,25,33,10,5,10,5,10,10,15
TP-60,0,4.5,2005-09-24,50 U,50 U,0,0,250 U,50 U,50 U,...,5,25,33,10,5,10,5,10,10,15

In [9]:
#make the BNA df
BNA_df_1 = table_df.iloc[0:1]
#pg 101 is 24:45
BNA_df_2 = table_df.iloc[24:45]
BNA_df = pd.concat([BNA_df_1,BNA_df_2])
#transpose it
BNA_df = BNA_df.transpose()
#make the first row our column titles
BNA_df.columns=BNA_df.iloc[0]
#drop the duplicate row
BNA_df = BNA_df.tail(-1)
#drop BNA details for mergining
BNA_df = BNA_df.drop('BNA Extraction Date',axis=1)
BNA_df = BNA_df.drop('BNA Analysis Date',axis=1)
BNA_df = BNA_df.drop('BNA Analytical Method',axis=1)
BNA_df = BNA_df.drop(['Sample Depth (ft bgs)'], axis=1)
#BNA_df = BNA_df.drop('BNAs (µg/kg)',axis=1) - keep for explanation
#drop samples with no detections
BNA_df = BNA_df.dropna(thresh=3)


#pull sample id out of index
BNA_df['Sample ID'] = BNA_df.index

#shift column sample ID to first position
first_column = BNA_df.pop('Sample ID')
#insert column using insert(position,column_name,first_column) function
BNA_df.insert(0, 'Sample ID', first_column)

#save detections
BNA_df = BNA_df.drop_duplicates(subset=['Sample ID'], keep="first")

#drop sample ID since its in index
BNA_df = BNA_df.drop(['Sample ID'], axis=1)

BNA_df

Sample ID,BNAs,Benzo(a)anthracene,Benzo(b)fluoranthene,Benzo(a)pyrene,"Benzo(g,h,i)perylene",Benzo(k)fluoranthene,Chrysene,2-Cloronaphthalene,"2,4-Dimethylphenol",Di-n-octyl phthalate,Fluoranthene,"Indeno(1,2,3-cd)pyrene",2-Methylnaphthalene,Bis(2-ethylhexyl)phthalate,Phenol,Di-n-butyl phthalate,Phenanthrene,Pyrene
TP-56,MDL (µg/kg),1700,1700,1700,1700,1700,1700,1700,1700,1700,1700,1700,1700,1700,1700,1700,1700,1700
TP-57,MDL (µg/kg),1700,1700,1700,1700,1700,1700,1700,1700,1700,1700,1700,1700,1700,1700,1700,1700,1700
TP-58,MDL (µg/kg),330,330,330,330,330,330,330,330,330,330,330,330,330,330,330,330,330
TP-59,µg/kg,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2100,NaN,NaN,NaN,NaN,NaN,2100,NaN
TP-60,MDL (µg/kg),1700,1700,1700,1700,1700,1700,1700,1700,1700,1700,1700,1700,1700,1700,1700,1700,1700

In [14]:
#make the leapfrog inputs for BNA
lf_BNA = BNA_df.transpose()
#replace nan w zero
lf_BNA = lf_BNA.replace(np.nan,0)



#isolate the results
lf_BNA = lf_BNA.iloc[1:]

#fix non detects in samples with detections
#fix TP-59
lf_BNA['TP-59'] = np.where(lf_BNA['TP-59']>0, lf_BNA['TP-59'],'1700 U')


#add U to the rest of the columns for non-detects
lf_BNA['TP-56'] = np.where(lf_BNA['TP-56']==1700,'1700 U',lf_BNA['TP-56'])
lf_BNA['TP-57'] = np.where(lf_BNA['TP-57']==1700,'1700 U',lf_BNA['TP-57'])
lf_BNA['TP-58'] = np.where(lf_BNA['TP-58']==330,'330 U',lf_BNA['TP-58'])
lf_BNA['TP-60'] = np.where(lf_BNA['TP-60']==1700,'1700 U',lf_BNA['TP-60'])


#flip for merging
lf_BNA = lf_BNA.transpose()

#add lf values for BNAs

#for table 7
#change MDLs to match data table
lf_BNA['Benzo(a)anthracene LF'] = np.where(lf_BNA['Benzo(a)anthracene']=='1700 U', 170 ,lf_BNA['Benzo(a)anthracene'])
lf_BNA['Benzo(a)anthracene LF'] = np.where(lf_BNA['Benzo(a)anthracene']=='330 U', 33 ,lf_BNA['Benzo(a)anthracene'])

lf_BNA['Benzo(b)fluoranthene LF'] = np.where(lf_BNA['Benzo(b)fluoranthene']=='1700 U', 170 ,lf_BNA['Benzo(b)fluoranthene'])
lf_BNA['Benzo(b)fluoranthene LF'] = np.where(lf_BNA['Benzo(b)fluoranthene']=='330 U', 33 ,lf_BNA['Benzo(b)fluoranthene'])

lf_BNA['Benzo(g,h,i)perylene LF'] = np.where(lf_BNA['Benzo(g,h,i)perylene']=='1700 U', 170 ,lf_BNA['Benzo(g,h,i)perylene'])
lf_BNA['Benzo(g,h,i)perylene LF'] = np.where(lf_BNA['Benzo(g,h,i)perylene LF']=='330 U', 33 ,lf_BNA['Benzo(g,h,i)perylene LF'])

lf_BNA['Benzo(a)pyrene LF'] = np.where(lf_BNA['Benzo(a)pyrene']=='1700 U', 170 ,lf_BNA['Benzo(a)pyrene'])
lf_BNA['Benzo(a)pyrene LF'] = np.where(lf_BNA['Benzo(a)pyrene']=='330 U', 33 ,lf_BNA['Benzo(a)pyrene'])

lf_BNA['Benzo(k)fluoranthene LF'] = np.where(lf_BNA['Benzo(k)fluoranthene']=='1700 U', 170 ,lf_BNA['Benzo(k)fluoranthene'])
lf_BNA['Benzo(k)fluoranthene LF'] = np.where(lf_BNA['Benzo(k)fluoranthene']=='330 U', 33 ,lf_BNA['Benzo(k)fluoranthene'])

lf_BNA['Chrysene LF'] = np.where(lf_BNA['Chrysene']=='1700 U', 170 ,lf_BNA['Chrysene'])
lf_BNA['Chrysene LF'] = np.where(lf_BNA['Chrysene']=='330 U', 33 ,lf_BNA['Chrysene'])

lf_BNA['2-Cloronaphthalene LF'] = np.where(lf_BNA['2-Cloronaphthalene']=='1700 U', 170 ,lf_BNA['2-Cloronaphthalene'])
lf_BNA['2-Cloronaphthalene LF'] = np.where(lf_BNA['2-Cloronaphthalene']=='330 U', 33 ,lf_BNA['2-Cloronaphthalene'])

lf_BNA['2,4-Dimethylphenol LF'] = np.where(lf_BNA['2,4-Dimethylphenol']=='1700 U', 170 ,lf_BNA['2,4-Dimethylphenol'])
lf_BNA['2,4-Dimethylphenol LF'] = np.where(lf_BNA['2,4-Dimethylphenol']=='330 U', 33 ,lf_BNA['2,4-Dimethylphenol'])

lf_BNA['Di-n-octyl phthalate LF'] = np.where(lf_BNA['Di-n-octyl phthalate']=='1700 U', 170 ,lf_BNA['Di-n-octyl phthalate'])
lf_BNA['Di-n-octyl phthalate LF'] = np.where(lf_BNA['Di-n-octyl phthalate']=='330 U', 33 ,lf_BNA['Di-n-octyl phthalate'])

lf_BNA['Fluoranthene LF'] = np.where(lf_BNA['Fluoranthene']=='1700 U', 170 ,lf_BNA['Fluoranthene'])
lf_BNA['Fluoranthene LF'] = np.where(lf_BNA['Fluoranthene']=='330 U', 33 ,lf_BNA['Fluoranthene'])

lf_BNA['Indeno(1,2,3-cd)pyrene LF'] = np.where(lf_BNA['Indeno(1,2,3-cd)pyrene']=='1700 U', 170 ,lf_BNA['Indeno(1,2,3-cd)pyrene'])
lf_BNA['Indeno(1,2,3-cd)pyrene LF'] = np.where(lf_BNA['Indeno(1,2,3-cd)pyrene']=='330 U', 33 ,lf_BNA['Indeno(1,2,3-cd)pyrene'])

lf_BNA['2-Methylnaphthalene LF'] = np.where(lf_BNA['2-Methylnaphthalene']=='1700 U', 170 ,lf_BNA['2-Methylnaphthalene'])
lf_BNA['2-Methylnaphthalene LF'] = np.where(lf_BNA['2-Methylnaphthalene']=='330 U', 33 ,lf_BNA['2-Methylnaphthalene'])

lf_BNA['Bis(2-ethylhexyl)phthalate LF'] = np.where(lf_BNA['Bis(2-ethylhexyl)phthalate']=='1700 U', 170 ,lf_BNA['Bis(2-ethylhexyl)phthalate'])
lf_BNA['Bis(2-ethylhexyl)phthalate LF'] = np.where(lf_BNA['Bis(2-ethylhexyl)phthalate']=='330 U', 33 ,lf_BNA['Bis(2-ethylhexyl)phthalate'])

lf_BNA['Phenol LF'] = np.where(lf_BNA['Phenol']=='1700 U', 170 ,lf_BNA['Phenol'])
lf_BNA['Phenol LF'] = np.where(lf_BNA['Phenol']=='330 U', 33 ,lf_BNA['Phenol'])

lf_BNA['Di-n-butyl phthalate LF'] = np.where(lf_BNA['Di-n-butyl phthalate']=='1700 U', 170 ,lf_BNA['Di-n-butyl phthalate'])
lf_BNA['Di-n-butyl phthalate LF'] = np.where(lf_BNA['Di-n-butyl phthalate']=='330 U', 33 ,lf_BNA['Di-n-butyl phthalate'])

lf_BNA['Phenanthrene LF'] = np.where(lf_BNA['Phenanthrene']=='1700 U', 170 ,lf_BNA['Phenanthrene'])
lf_BNA['Phenanthrene LF'] = np.where(lf_BNA['Phenanthrene']=='330 U', 33 ,lf_BNA['Phenanthrene'])

lf_BNA['Pyrene LF'] = np.where(lf_BNA['Pyrene']=='1700 U', 170 ,lf_BNA['Pyrene'])
lf_BNA['Pyrene LF'] = np.where(lf_BNA['Pyrene']=='330 U', 33 ,lf_BNA['Pyrene'])

lf_BNA

Sample ID,Benzo(a)anthracene,Benzo(b)fluoranthene,Benzo(a)pyrene,"Benzo(g,h,i)perylene",Benzo(k)fluoranthene,Chrysene,2-Cloronaphthalene,"2,4-Dimethylphenol",Di-n-octyl phthalate,Fluoranthene,...,"2,4-Dimethylphenol LF",Di-n-octyl phthalate LF,Fluoranthene LF,"Indeno(1,2,3-cd)pyrene LF",2-Methylnaphthalene LF,Bis(2-ethylhexyl)phthalate LF,Phenol LF,Di-n-butyl phthalate LF,Phenanthrene LF,Pyrene LF
TP-56,1700 U,1700 U,1700 U,1700 U,1700 U,1700 U,1700 U,1700 U,1700 U,1700 U,...,1700 U,1700 U,1700 U,1700 U,1700 U,1700 U,1700 U,1700 U,1700 U,1700 U
TP-57,1700 U,1700 U,1700 U,1700 U,1700 U,1700 U,1700 U,1700 U,1700 U,1700 U,...,1700 U,1700 U,1700 U,1700 U,1700 U,1700 U,1700 U,1700 U,1700 U,1700 U
TP-58,330 U,330 U,330 U,330 U,330 U,330 U,330 U,330 U,330 U,330 U,...,33,33,33,33,33,33,33,33,33,33
TP-59,1700 U,1700 U,1700 U,1700 U,1700 U,1700 U,1700 U,1700 U,1700 U,2100,...,1700 U,1700 U,2100,1700 U,1700 U,1700 U,1700 U,1700 U,2100,1700 U
TP-60,1700 U,1700 U,1700 U,1700 U,1700 U,1700 U,1700 U,1700 U,1700 U,1700 U,...,1700 U,1700 U,1700 U,1700 U,1700 U,1700 U,1700 U,1700 U,1700 U,1700 U

In [15]:
#make the metals df
metals_df_1 = table_df.iloc[0:1]
metals_df_2 = table_df.iloc[45:61]
metals_df = pd.concat([metals_df_1,metals_df_2])
# #transpose it
metals_df = metals_df.transpose()
# #make the first row our column titles
metals_df.columns=metals_df.iloc[0]
# #drop the duplicate row
metals_df = metals_df.tail(-1)
#drop metals details for merging
metals_df = metals_df.drop('Metals Analysis Date',axis=1) 
metals_df = metals_df.drop('Analytical Method',axis=1)
metals_df = metals_df.drop('Metals',axis=1) #- keep for explanation
# #drop samples with no detections
metals_df = metals_df.dropna(thresh=2)

#pull sample id out of index
metals_df['Sample ID'] = metals_df.index
#shift column sample ID to first position
first_column = metals_df.pop('Sample ID')
#insert column using insert(position,column_name,first_column) function
metals_df.insert(0, 'Sample ID', first_column)

#drop samples with no detections
metals_df = metals_df.drop_duplicates(subset=['Sample ID'], keep="first")

#drop informational columns for merging
metals_df = metals_df.drop(['Sample ID'], axis=1)
metals_df = metals_df.drop(['Sample Depth (ft bgs)'], axis=1)

############################################
metals_df

Sample ID,Arsenic,Barium,Cadmium,Chromium,Chromium IV,"Lead, total (calculated)","Lead, fine fraction","Lead, coarse fraction",Manganese,Mercury,Nickel,Vanadium,Zinc
TP-56,2700,37000,630,1000000,2800,56500,97000,39000,38000000,NaN,27000,450000,58000
TP-57,1900,54000,370,740000,10000,117000,91300,127000,10000000,92,14000,120000,75000
TP-58,2100,35000,220,11000,NaN,52700,71300,38900,150000,NaN,11000,4300,27000
TP-59,3600,42000,320,750000,2700,26500,40400,24300,27000000,NaN,69000,350000,130000
TP-60,4200,42000,350,840000,6100,37500,76200,27900,32000000,NaN,58000,390000,160000

In [16]:
#make the leapfrog inputs for metals
lf_metals = metals_df
#replace nan w zero
lf_metals = lf_metals.replace(np.nan,0)

#isolate the results
lf_metals = lf_metals.iloc[0:]

#fix mercury non detect
lf_metals['Mercury'] = np.where(lf_metals['Mercury']==0, f'50' + ' U' , lf_metals['Mercury'])
#add mercury LF column
lf_metals['Mercury LF'] = np.where(lf_metals['Mercury']=='50 U', 5 , lf_metals['Mercury'])
# fix Chromium IV nondetect
lf_metals['Chromium IV'] = np.where(lf_metals['Chromium IV']==0, f'500' + ' U' , lf_metals['Chromium IV'])
#add mercury LF column
lf_metals['Chromium IV LF'] = np.where(lf_metals['Chromium IV']=='500 U', 50 , lf_metals['Chromium IV'])

lf_metals

Sample ID,Arsenic,Barium,Cadmium,Chromium,Chromium IV,"Lead, total (calculated)","Lead, fine fraction","Lead, coarse fraction",Manganese,Mercury,Nickel,Vanadium,Zinc,Mercury LF,Chromium IV LF
TP-56,2700,37000,630,1000000,2800,56500,97000,39000,38000000,50 U,27000,450000,58000,5,2800
TP-57,1900,54000,370,740000,10000,117000,91300,127000,10000000,92,14000,120000,75000,92,10000
TP-58,2100,35000,220,11000,500 U,52700,71300,38900,150000,50 U,11000,4300,27000,5,50
TP-59,3600,42000,320,750000,2700,26500,40400,24300,27000000,50 U,69000,350000,130000,5,2700
TP-60,4200,42000,350,840000,6100,37500,76200,27900,32000000,50 U,58000,390000,160000,5,6100

In [18]:
#make the PCBs df
PCB_df_1 = table_df.iloc[0:1]
PCB_df_2 = table_df.iloc[61:67]
PCB_df = pd.concat([PCB_df_1,PCB_df_2])
# #transpose it
PCB_df = PCB_df.transpose()
#make the first row our column titles
PCB_df.columns=PCB_df.iloc[0]
#drop the duplicate row
PCB_df = PCB_df.tail(-1)
#drop extra info
PCB_df = PCB_df.drop('PCB Extraction Date',axis=1)
PCB_df = PCB_df.drop('PCB Analysis Date',axis=1)
PCB_df = PCB_df.drop('PCB Analytical Method',axis=1)
PCB_df = PCB_df.drop('PCBs',axis=1)
#drop samples with no detections
PCB_df = PCB_df.dropna(thresh=2)
#indicate the nondetects
PCB_df = PCB_df.replace(np.nan,'330 U')

#pull sample id out of index
PCB_df['Sample ID'] = PCB_df.index
#shift column sample ID to first position
first_column = PCB_df.pop('Sample ID')
#insert column using insert(position,column_name,first_column) function
PCB_df.insert(0, 'Sample ID', first_column)

#drop duplicate rows
PCB_df = PCB_df.drop_duplicates(subset=['Sample ID'], keep="first")

#drop extra info
PCB_df = PCB_df.drop(['Sample Depth (ft bgs)'], axis=1)
PCB_df = PCB_df.drop(['Sample ID'], axis=1)

PCB_df

Sample ID Aroclor-1254 Aroclor-1260
TP-56              330          330
TP-57               NT           NT
TP-58               NT           NT
TP-59               NT           NT
TP-60               NT           NT

In [19]:
#make the leapfrog inputs for PCBs
lf_PCB = PCB_df

#modify existing columns for leapfrog
lf_PCB['Aroclor-1254'] = np.where(lf_PCB['Aroclor-1254'] == 330 , '330 U' ,lf_PCB['Aroclor-1254'])
lf_PCB['Aroclor-1260'] = np.where(lf_PCB['Aroclor-1260'] == 330, '330 U' ,lf_PCB['Aroclor-1260'])

#add leapfrog input for PCBs
lf_PCB['Aroclor-1254 LF'] = np.where(lf_PCB['Aroclor-1254'] == '330 U', 3.3 ,lf_PCB['Aroclor-1254'])
lf_PCB['Aroclor-1260 LF'] = np.where(lf_PCB['Aroclor-1260'] == '330 U', 3.3 ,lf_PCB['Aroclor-1260'])

lf_PCB

Sample ID Aroclor-1254 Aroclor-1260 Aroclor-1254 LF Aroclor-1260 LF
TP-56            330 U        330 U             3.3             3.3
TP-57               NT           NT              NT              NT
TP-58               NT           NT              NT              NT
TP-59               NT           NT              NT              NT
TP-60               NT           NT              NT              NT

In [20]:
#merge tables
combined_lf= pd.merge(lf_BNA,lf_metals, left_index = True, right_index = True)
combined_lf= pd.merge(combined_lf,lf_PCB, left_index = True, right_index = True)
combined_lf= pd.merge(combined_lf,lf_voc, left_index = True, right_index = True)

#shift depths and date to front of df 
first_column = combined_lf.pop('Start_Depth')
second_column = combined_lf.pop('End_Depth')
third_column = combined_lf.pop('Sample_Date')

#sort columns alphabetically
combined_lf = combined_lf.sort_index(axis = 1, ascending = True)
  
#insert column using insert(position,column_name,first_column) function
combined_lf.insert(0, 'Start_Depth', first_column)
combined_lf.insert(1, 'End_Depth', second_column)
combined_lf.insert(2, 'Sample_Date', third_column)

#setindex name
combined_lf.index.name='Sample_ID'

combined_lf

Sample ID,Start_Depth,End_Depth,Sample_Date,"1,1-Dichloroethane","1,1-Dichloroethane LF","1,2,4-Trimethylbenzene","1,2,4-Trimethylbenzene LF","1,3,5-Trimethylbenzene","1,3,5-Trimethylbenzene LF","2,4-Dimethylphenol",...,Trichloroethene,Trichloroethene LF,Vanadium,Xylene,Xylene LF,Zinc,"cis-1,2-Dichloroethene","cis-1,2-Dichloroethene LF",n-Propylbenzene,n-Propylbenzene LF
Sample_ID,,,,,,,,,,,,,,,,,,,,,
TP-56,1.5,3,2005-09-24,50 U,5,100 U,10,100 U,10,1700 U,...,50 U,5,450000,150 U,15,58000,50 U,5,100 U,10
TP-57,3,7,2005-09-24,50 U,5,100 U,10,100 U,10,1700 U,...,50 U,5,120000,150 U,15,75000,50 U,5,100 U,10
TP-58,6,6.5,2005-09-23,50 U,5,100 U,10,100 U,10,330 U,...,50 U,5,4300,150 U,15,27000,50 U,5,100 U,10
TP-59,2.5,11,2005-09-24,50 U,5,100 U,10,100 U,10,1700 U,...,50 U,5,350000,150 U,15,130000,50 U,5,100 U,10
TP-60,0,4.5,2005-09-24,50 U,5,100 U,10,100 U,10,1700 U,...,50 U,5,390000,150 U,15,160000,50 U,5,100 U,10

In [21]:
combined_lf.to_csv('LeapFrog Exports/Pg102.csv')